@model HeadacheInvSystem.Models.Categorium

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Delete</h1>
@if (ViewBag.AllowDelete)
{
    <div class="alert alert-danger" role="alert">
        ¿Estás seguro que quieres elimnar esta categoría?
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        No se puede eliminar<br>La categoría tiene datos relacionados con la tabla Producto
    </div>
}
<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        @if (ViewBag.AllowDelete)
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        } |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
